.loggedInDiv {
    width: 100%;
}

.contacts {
    background-color: aqua;
}   

.chat {
    background-color: blueviolet;
}

.contactBox {
    background-color: aliceblue;
    display: inline-flex;
}

.contactList {
    padding: 0;
}

.contactItem {
    display: flex;
    background-color: aliceblue;
    list-style-type: none;
}

#contactUsername {
    color: rgb(134, 134, 134);
    padding-left: 20px;
}